body {
  background-color: #eaebed;
}

.hero {
  display: inline-block;
  width: 100%;
  height: 100%;
  /* padding: calc((100% - 650px) / 2) 0; */
  background-color: violet;
}
.hero img {
  display: inline-block;
  float: left;
  padding-left: 100px;
}
.main-text {
  display: inline-block;
  background-color: lightskyblue;
  float: right;
  width: 500px;
  margin-right: 50px;
}
.main-text h1 {
  display: inline-block;
  background-color: lightslategray;
}
.main-text .main-p {
  display: inline-block;
  background-color: lightsteelblue;
}
.main-text p {
  display: inline-block;
  background-color: linen;
}
.main-text a {
  display: inline-block;
}
.clear-fix {
  clear: both;
}
/*
body {
background-color: #ebecee;
}

  img {
    display: inline-block;
    width: 30%;
    float: left;
    margin-left: 20%;
    margin-top: 60px;
  }

  div {
    display: inline-block;
    width: 30%;
    text-align: center;
    float: left;
    margin-top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

    h1 {
      display: inline-block;
      font-size: 120px;
      width: 100%;
      margin: 0;
    }

    p {
      display: inline-block;
      width: 100%;
      font-size: 30px;
    }

    a {
      display: inline-block;
      color: white;
      background-color: #686f89;
      padding: 20px;
      text-transform: uppercase;
      text-decoration: none;
    }
    */
