body {
  background-color: #eaebed;
}
.container {
  display: inline-block;
  width: 1000px;
  margin: 0 calc(50% - 500px);
}
/* left */
.main-img {
  display: inline-block;
  float: left;
  width: 300px;
  margin-top: 210px;
  /* height: calc(100% - 314px); */
  text-align: center;
  margin-left: 90px;
}
.main-img > img {
  width: 300px;
}
/* right */
.main-text {
  display: inline-block;
  float: right;
  width: 500px;
  margin-top: 280px;
  text-align: center;
  margin-right: 90px;
  padding: 0 20px;
}
.main-text h1 {
  display: inline-block;
  font-size: 120px;
  width: 100%;
}
.main-text .main-p {
  display: inline-block;
  width: 100%;
  font-size: 30px;
  padding: 0 0 30px 0;
  color: #686f89;
}
.main-text p {
  display: inline-block;
  width: 100%;
  color: #888c97;
  font-size: 16px;
  padding-bottom: 10px;
}
.main-text a {
  display: inline-block;
  color: white;
  background-color: #686f89;
  padding: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width: 800px) {
  .container {
    width: 100%;
    margin: 0;
  }
  /* left */
  .main-img {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    margin-left: 0px;
  }
  .main-img > img {
    width: 300px;
  }
  /* right */
  .main-text {
    width: 100%;
    margin-top: 40px;
    margin-right: 0px;
    padding: 0 140px;
  }
  .main-text h1 {
    font-size: 100px;
  }
  .main-text .main-p {
    display: inline-block;
    width: 100%;
    font-size: 25px;
    padding: 0 0 30px 0;
    color: #686f89;
  }
  .main-text p {
    font-size: 16px;
    padding-bottom: 10px;
  }
  .main-text a {
    padding: 15px;
  }
}
